In [1]:
var01 = 3
var02 = 4

In [25]:
print('거듭제곱', var01 ** 2)
print('거듭제곱', pow(var01,2))

거듭제곱 9
거듭제곱 9

In [16]:
print(
    '덧셈 :', var01 + var02,
    '\n뺄셈  :',var01 - var02,
    '\n곱셈  :',var01 * var02,
    '\n실수 나눗셈  :',var01 / var02,
    '\n정수 나눗셈 몫  :',var01 % var02,
    '\n정수 나눗셈 나머지  :',var01 // var02,
    '\n제곱  :',var01 ** var02,
)

덧셈 : 7
뺄셈  : -1
곱셈  : 12
실수 나눗셈  : 0.75
정수 나눗셈 몫  : 3
정수 나눗셈 나머지  : 0
제곱  : 81

In [20]:
name = 'hoo'
test = f"abc {name}"
print(test)

abc hoo

In [21]:
import timeit

###파이썬 모듈을 이용한 수학계산

In [26]:
import math

In [27]:
# 거듭제곱

math.pow(var01,2)

9.0

In [30]:
#제곱근
math.sqrt(var01)

1.7320508075688772

In [31]:
# sin 함수
math.sin(45)

0.8509035245341184

In [35]:
# sin45^2 + cos45^2

math.sin(45)**2 + math.cos(45)**2

1.0

### 난수 발생

In [41]:
# 난수발생 모듈 불러오기
import random

In [45]:
random.randint(1,100) # 1~100 중 난수 1개 발생

87

In [58]:
lotto_list = range(1,46)
random.sample(lotto_list,6)

[4, 43, 31, 25, 32, 5]

In [62]:
# 반올림
print(round(123.456,2))

123.46

In [71]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [70]:
#내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [74]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_27',
 '_29',
 '_30',
 '_31',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_42',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_54',
 '_56',
 '_58',
 '_73',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'name',
 'os',
 'quit',
 'random',
 'sys',
 'test',
 'timeit',
 'var01',
 'var02']

In [75]:
var01

3

In [76]:
del var01

In [77]:

var01

NameError: name 'var01' is not defined

### 관계 연산자

In [78]:
num1 = 100
num2 = 20

In [90]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)

False
True
True
False

### 논리연산자

In [91]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [96]:
# 부정 연산자
not(num1 >= 50)

False

In [101]:
# OS 명령어 사용 쥬피터 노트북 전용
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb

In [115]:
# 문자열
var01 = '"Hello world"\'\'\' '
print(var01)

"Hello world"'''

In [116]:
var01 = """
    Hello World1
    12345
    대한민국
"""

print(var01)

    Hello World1
    12345
    대한민국

In [120]:
# 쌍따옴표와 홑따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [121]:
# 문자열 연산 (덧셈)
var01 = "Python"
var02 = "is fun"

In [123]:
print(var01 + var02)
print(var01, var02)

Pythonis fun
Python is fun

In [126]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [129]:
print("=" * 40)
print("Python")
print("=" * 40)

========================================
Python
========================================

In [164]:
# 문자열 indexing slicing
str = "abcdefghijklmn"
print(str[0:-1])
print(str[-1])
print(str[-2:-1])
print(str[-2:5])
print(str[5:])
print(str[:5])
print(str[0]+str[1] + str[2])

abcdefghijklm
n
m

fghijklmn
abcde
abc

In [174]:
str = "202212/29Snow"
year = str[0:4]
day = str[4:9]
weather = str[9:] 

print(year,day,weather)
print(f"{year}-{day}-{weather}")

2022 12/29 Snow
2022-12/29-Snow

In [190]:
str = "abbde"
str = str[:2] + "c" + str[3:]
print(str)
type("abbde")

abcde

str

### 문자열 formatting

In [196]:
print("I have %d apple."%2)
print("I have %s apple."%"two")

I have 2 apple.
I have two apple.

In [204]:
number = 2
fruit = "apples"
print("I have %02d %s."%(number,fruit))

I have 02 apples.

In [208]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [288]:
print("%.10f"%3.141592)
print("%2.4f"%322.141592)
print("%2f"%322.141592)
print("%10f"%3)

3.1415920000
322.1416
322.141592
  3.000000

In [256]:
# 문자 Count
str = "I have a dream."
print(str.count('a'))
print(str.count(''))
print(len(str))

3
16
15

In [257]:
# 문자 위치 알려주기
print(str.find('e'))
print(str[5])
print(str.find('x')) # -1 은 그런 문자 없을 떄
print(str.find('have'))
print(str[2:6])

print(str.index('a'))
list(str) #findall 이 없으니 모든 인덱스를 찾으려면 list로 바꿔서 찾는 것도 방법

5
e
-1
2
have
3

['I', ' ', 'h', 'a', 'v', 'e', ' ', 'a', ' ', 'd', 'r', 'e', 'a', 'm', '.']

In [258]:
str = ","
str.join('abcde')

'a,b,c,d,e'

In [259]:
str = "hi"
str.upper()

'HI'

In [260]:
str = "HI"

str.lower()

'hi'

In [261]:
#공백지우기
str = "       hi"
str.lstrip()

'hi'

In [262]:
str = "hi     "
str.rstrip()

'hi'

In [263]:
str = "    hi     "
str.strip()

'hi'

In [271]:
# 문자열 바꾸기
str = "Life is too short to be happy"
print(str.replace("happy","unhappy"))
print(str.replace(""," "))
print(str)

Life is too short to be unhappy
 L i f e   i s   t o o   s h o r t   t o   b e   h a p p y
Life is too short to be happy

In [279]:
str01 = "Life is too short to be happy"
print(str01.split('is'))
list01=str01.split()
print(list01)
type(list01)

['Life ', ' too short to be happy']
['Life', 'is', 'too', 'short', 'to', 'be', 'happy']

list

In [283]:
len(list01)
str02 = "a:b:c:d"
str02.split(":")

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [291]:
# 숫자 바로 대입하기
"I have {0} apples".format(3)
"I have {0} {2} {1} apples".format(3,2,1)

'I have 3 1 2 apples'

In [292]:
"I have {0} apples.".format("three")

'I have three apples.'

In [320]:
number = 10
day = 'three'
"I have {0} apples, I will go aboard for {1} days".format(number,day,1,2)

'I have 10 apples, I will go aboard for three days'

In [321]:
# 왼족 정렬
'{0:<10}'.format("hi")

'hi        '

In [322]:
#오른쪽
'{0:>10}'.format("hi")

'        hi'

In [323]:
# 가운데 정렬

'{0:^10}'.format("hi")
'{0:^10}'.format("hi")

'    hi    '

In [324]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [325]:
# f문자열 formatting(Python 3.6 이상)
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다.{123},'

'나의 이름은 홍길동이고 나이는 30세 입니다.123,'

In [326]:
f'나는 내년이면 {age + 1}살 입니다.'

'나는 내년이면 31살 입니다.'

### 날짜형 변환

In [330]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [337]:
time1 = datetime(2022,12,25,21,10,20,0) # 마지막은 밀리 세컨드
print(time1)

2022-12-25 21:10:20

In [339]:
# 날짜 계산하기 
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:13:41.479566
186 days, 4:56:38.520434

In [345]:
# 좀 더 편리하게 출력
print((time1 - time2).days, '일')
type((time1 - time2))
print((time1 - time2).seconds , '초(시간 단위 까지를 초 계산)')

186 일
17798 초(시간 단위 까지를 초 계산)

In [353]:
# 시간으로 확인하기
# .days 랑 .seconds 밖에 없어서 시간분을 만들어서 써야됨

#일차로 시간으로 바꾼다음 + 시간에 대한 초를 시간으로 바꿈
print((time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60))
print((time1 - time2).days * 24 * 60 * 60 + (time1 - time2).seconds)

4468

In [357]:
# 특정 날짜로 부터 시간 계산
print(time2 + timedelta(days= -3))

2022-06-19 16:13:41.479566

In [356]:
print(time2 + timedelta(days=1, hours=-2))# 1일 뒤 2시간 전

2022-06-23 14:13:41.479566