### 리스트 자료형

리스트명 = [요소1,요소2,....]

In [4]:
# 리스트 자료형 선언

var01 = []
var02 = [1,2,3]
var03 = ['I',"have","a","dream"]
var04 = [1,2,"Dream","True"]
var05 = [1,2,['Dream',"True"]]

In [5]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]

In [39]:
# var05에서 'Dream' 만 출력하기
print(var05[2][0])
print(var05[-1][0])

Dream
Dream

In [41]:
var = [1,2 ,['a','b',['Dream','True']]]
print(var[-1][-1][0])

Dream

[1, 2, ['a', 'b', ['Dream', 'True']]]

In [17]:
str = "I have a dream"
list(str.split())

['I', 'have', 'a', 'dream']

In [29]:
print(var03)

['I', 'have', 'a', 'dream']

In [49]:
#리스트의 연산
var01 = [1,2,3]
var02 = [4,5,6]
print(var01 + var02)
print(var02 + var01)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [50]:
# 리스트의 덧셈 : for문으로 구상해 보기
# for의 in 뒤에는 연속된(iterable) 숫자만 들어감 그래서 range를 쓰는 것
var03 = []
for i in range(len(var01)): # range 는 0 부터 시작이라 안적어도됨
    var03.append(var01[i] + var02[i])

In [103]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [115]:

print(var[0]) ## 리스트 안에 있는 값만 출력
print(var[0:1]) ## 값을 가진 리스트를 출력

1
[1]

In [104]:
var[1:4] = list('abc')
var.append(4)

In [127]:
var[1:3] = []
var

[1, 'c', 4]

In [130]:
var[1:3]

['c', 4]

In [131]:
del var[1]
var

[1, 4]

In [139]:
del str

In [144]:


for i in var03:
    str11 += str(i)

In [147]:
str03 = "".join(str(i) for i in var03)

In [148]:
str03

'579'

In [150]:
'-'.join("abc")

'a-b-c'

# 리스트 관련 함수

In [156]:
var = [1,2,3]
#var.append(i for i in [3,4,5])

In [160]:
var = [1,2,3]
var.append(4)
var.append([5.6])
var

[1, 2, 3, 4, [5.6]]

In [164]:
# 리스트 정수 정렬
var = [1,4,3,2]
var.sort() # 오름차순 정렬
print(var)

var.reverse() # 내림차순 정렬
print(var)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [179]:
# 리스트의 위치정보
var = [4,5,6]
var.index(5)

1

In [180]:
# 리스트에 요소 삽입

var = [1,2,3]
var.insert(0,4)

In [181]:
var

[4, 1, 2, 3]

In [185]:
# 리스트에서 요소 제거
var.remove(4) # 맨 앞에 4 데이터 하나만 지움
var

[1, 2, 3]

In [196]:
var.pop()
var

[1, 2]

In [207]:
var = [1,2]
var.extend([3,4])
var[len(var):] = [5,6]
var

[1, 2, 3, 4, 5, 6]

In [211]:
temp = [3,4]
temp.extend(i for i in [1,2,3])
temp

[3, 4, 1, 2, 3]

In [215]:
#nested list 만들기?
print([i for i in [1,2,3]])

[1, 2, 3]